[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "settingsSync"]
	path = settingsSync
	url = https://github.com/notplancha/settingssync
